{% extends "./base.html" %}

{% block title %}
Update Rule
{% endblock %}

{% block content %}
<h1 align="center">Edit Rule</h1>

<form method="POST" action="{{ url_for('views.update_rule', rule_id=rule.id) }}">
  <div class="form-group">
    <label for="current-rule">Current Rule</label>
    <textarea id="current-rule" class="form-control" rows="2" readonly>{{ decrypted_data }}</textarea>
  </div>
  <div class="form-group">
    <label for="new-rule">New Content</label>
    <textarea name="rule" id="new-rule" class="form-control" rows="5" placeholder="Enter your new content here..."></textarea>
  </div>
  <h5>Select Rule Type:</h5>
  <div class="btn-group">
    <button type="button" id="phraseBtn" class="btn btn-outline-primary" onclick="selectType('phrase')">Phrase</button>
    <button type="button" id="keywordBtn" class="btn btn-outline-primary" onclick="selectType('keyword')">Keyword</button>
    <button type="button" id="contextualBtn" class="btn btn-outline-primary" onclick="selectType('contextual')">Contextual</button>
  </div>
  <input type="hidden" name="data_type" id="data_type" required>

  <div align="center">
    <button type="submit" class="btn btn-primary">Update Rule</button>
  </div>
</form>

<script>
  function selectType(type) {
    const buttons = document.querySelectorAll('.btn-group button');
    buttons.forEach(button => {
      button.classList.remove('btn-primary');
      button.classList.add('btn-outline-primary');
    });

    const selectedButton = document.getElementById(type + 'Btn');
    selectedButton.classList.remove('btn-outline-primary');
    selectedButton.classList.add('btn-primary');
    document.getElementById('data_type').value = type;
  }
</script>
{% endblock %}
